## You need to create a local version of config.env for the app to run.
## Below are the entries you need. Remove these comments when you create
## your local file
DATABASE_URL=postgres://user:pw@host/db-name
STACKS_STREAMER_SQL_DATABASE_URL=postgres://user:pw@host/db-name
RUN_SEED=false
