## You need to create a local version of config.env for the app to run.
## Below are the entries you need. Remove these comments when you create
## your local file
RUNTIME_ENV=development
DATABASE_URL=postgres://user:pw@host/db-name
SHADOW_DATABASE_URL=postgress://user:pw@host/universal-shadow
NEAR_STREAMER_DATABASE_URL=mongodb+srv://user:pw@host/near-streamer?retryWrites=true&w=majority
UNIVERSAL_2022_DATABASE_URL=mongodb+srv://user:pw@host/staging?retryWrites=true&w=majority
